@import "mixins";
@import "custom_variables";

// Class Extend
@mixin logo_response {
  height: 60px;
  overflow: hidden;
  top: 10px;

  &:before {
    display: none;
  }

  img {
    width: 111px;
    height: 92px;
  }
}

// NAVBAR
#navbar {
  position: fixed;
  width: 100%;
  background-color: $bg-color-2;
  height: 80px;
  top: 0;
  //transition: background-color .3s;
  z-index: 99;

  .nav {
    >li {
      position: relative;

      >a {
        color: #fff;
        padding: 0;
        @include device_min(large) {
          padding: 0 0 12px;
        }

        &:focus,
        &:hover {
          color: $primary-color;
        }
      }
    }

    .active {
      >a {
        color: $primary-color;
      }
    }

    @include device_max(big_large) {
      >li {
        width: 100%;
        margin-left: 0;
        padding: 10px 15px;
      }
    }
  }

  .dropdown {
    @include device_min(large){
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
    .dropdown-menu{
  //     background-color: rgba(#fff, .2);
  //     border-color: transparent;
  //     >li{
  //       >a{
  //         color: #fff;
  //         &:hover,
  //         &:focus{
  //           color: $primary-color;
  //           background-color: transparent
  //         }
  //       }
  //     }
      @include device_min(big_large){
        margin-top: 12px;
        top: calc(100% - 12px);
        &:before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border: {
            top: 1px solid $line-color;
            left: 1px solid $line-color;
            right: 1px solid transparent;
            bottom: 1px solid transparent;
          }
          background-color: #fff;
          transform: rotate(45deg);
          top: -5px;
          left: 20px;
          // margin-left: -10px;
        }
      }
      @include device_max(big_large){
        position: relative;
        width: 100%;
        border: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        background-color: $bg-color-2;
        >li{
          >a{
            padding: 10px 15px;
            color: #fff;
            &:hover,
            &:focus{
              background-color: transparent;
              color: $primary-color;
            }
          }
          &:last-child{
            >a{
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .hamburger {
    display: none;
    position: absolute;
    right: 15px;
    // top: 50%;
    top: 30px;
    // margin-top: 4px;
    // transform: translateY(-50%);

    @include device_max(big_large) {
      display: block;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);

    //transition: .3s;
    img {
      width: 123px;
      //height: 102px;
    }

    &:before {
      position: absolute;
      content: "";
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      width: 222px;
      height: 192px;
      border-radius: 50%;
      background-color: $bg-color-2;
      z-index: -1;
    }

    @include device_max(big_large) {
      @include logo_response;
    }
  }

  .languages {
    position: absolute;
    right: 85px;
    top: 26px;
    a{
      color: #fff;
      &:hover,
      &:focus{
        color: $primary-color;
        text-decoration: none;
      }
    }
    @include device_max(big_large) {
      display: none;
      right: 15px;
      // .dropdown{
      //   .dropdown-menu{
      //     position: absolute;
      //     background-color: #fff;
      //     &:before{
      //       position: absolute;
      //       content: "";
      //       width: 10px;
      //       height: 10px;
      //       border: {
      //         top: 1px solid $line-color;
      //         left: 1px solid $line-color;
      //         right: 1px solid transparent;
      //         bottom: 1px solid transparent;
      //       }
      //       background-color: #fff;
      //       transform: rotate(45deg);
      //       top: -5px;
      //     }
      //     >li{
      //       >a{
      //         color: $gray;
      //         padding: 5px 15px;
      //         &:hover,
      //         &:focus{
      //           color: $primary-color;
      //         }
      //       }
      //     }
      //   }
      // }
    }

    .dropdown {
      margin-bottom: 0;
      padding-bottom: 12px;
      .dropdown-toggle {
        color: #fff;

        &:hover,
        &:focus {
          color: $primary-color;
          text-decoration: none;
        }
      }
      .dropdown-menu{
        left: auto;
        right: -5px;
        @include device_min(large){
          &:before{
            left: auto;
            right: 5px;
          }
        }
      }
    }
  }

  .navbar-content {
    margin-top: 26px;

    @include device_max(big_large) {
      margin-top: 0;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      background-color: $gray;
      max-height: 0;
      overflow: hidden;
    }
  }

  .menus {
    width: 100%;

    @include device_min(big_large) {
      display: table;

      .menu-item {
        display: table-cell;
        width: 50%;

        >ul {
          display: inline-block;
        }
      }

      .menu-left {
        text-align: right;
        padding-right: 110px;
      }

      .menu-right {
        text-align: left;
        padding-left: 110px;
      }

      .dropdown{
        .dropdown-menu{
          left: 0;
          //right: auto;
          // transform: translateX(-50%);
          // @include device_min(large){
          //   &:before{
          //     left: auto;
          //     right: 20px;
          //   }
          // }
        }
      }

    }
  }

}

#navbar.nav-active {
  background-color: #fff;
  border-bottom: 1px solid $line-color;

  .nav {
    >li {
      position: relative;

      >a {
        color: $gray;

        &:focus,
        &:hover {
          color: $primary-color;
        }
      }
    }

    .active {
      >a {
        color: $primary-color;
      }
    }
  }

  .dropdown{
    .dropdown-menu{
      background-color: #fff;
      // border-color: $line-color;
      >li{
        >a{
          color: $gray;
          &:hover,
          &:focus{
            color: $primary-color;
          }
        }
      }
  //     @include device_min(big_large){
  //       &:before{
  //         border: {
  //           top: 1px solid $line-color;
  //           left: 1px solid $line-color;
  //           right: 1px solid transparent;
  //           bottom: 1px solid transparent;
  //         }
  //         background-color: #fff;
  //         transform: rotate(45deg);
  //         top: -5px;
  //       }
  //     }
  //     @include device_max(big_large){
  //       background-color: #fff;
  //       >li{
  //         >a{
  //           color: $gray;
  //           &:hover,
  //           &:focus{
  //             color: $primary-color;
  //           }
  //         }
  //       }
  //     }
    }
  }

  .logo {
    @include logo_response;
  }

  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    background-color: $gray;
  }

  .languages {
    a{
      color: $gray;
      &:hover,
      &:focus{
        color: $primary-color;
        text-decoration: none;
      }
    }
    // .dropdown {
    //   .dropdown-toggle {
    //     color: $gray-light;
    //   }
    //   .dropdown-menu{
    //     @include device_max(big_large){
    //       border: 1px solid $line-color;
    //       &:before{
    //         position: absolute;
    //         content: "";
    //         width: 10px;
    //         height: 10px;
    //         border: {
    //           top: 1px solid $line-color;
    //           left: 1px solid $line-color;
    //           right: 1px solid transparent;
    //           bottom: 1px solid transparent;
    //         }
    //         background-color: #fff;
    //         transform: rotate(45deg);
    //         top: -5px;
    //       }
    //     }
    //   }
    // }
  }
}

// TOGGLE NAVBAR
#toggle-hamburger:checked~#navbar {
  .hamburger {
    right: auto;
    left: 15px;
  }

  @include device_max(big_large) {
    .navbar-content {
      max-height: inherit;
      border-bottom: 1px solid $bg-color-2;
      padding: 15px 0;
      background-color: $bg-color-2;
    }

    .languages {
      display: block;
    }
  }
}

#toggle-hamburger:checked~#navbar.nav-active {
  @include device_max(big_large) {
    .navbar-content {
      background-color: #fff;
      border-bottom: 1px solid $line-color;
    }
  }
}